<h2>Here are some links to help you start: </h2>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Nome do paciente</th>
    <th>Id da Especialidade</th>
    <th>Id do Plano de saude</th>
    <th>Numero carteira de plano</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let paciente of paciente | async">
    <td>{{paciente.nomePaciente}}</td>
    <td>{{paciente.idEspecialidade}}</td>
    <td>{{paciente.idPlanoDeSaude}}</td>
    <td>{{paciente.numeroCarteiraPlano}}</td>
    <td><button (click)="deletePaciente(paciente.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
<button (click)="ngOnInit()">GET</button>
